<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <title>Bootstrap Sign up Form Horizontal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div class="signup-form">
  <form  [formGroup]="newProfFormGroup2" (ngSubmit)="handleEditProf()" class="form-horizontal">
    <div class="row">
      <div class="col-8 offset-4">
        <h2>Modifier Prof</h2>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Nom Complet</label>
      <div class="col-8">
        <input type="text" class="form-control"  formControlName="nom_complet"  [(ngModel)]="prof.nom_complet" >
        <span class="text-danger"
              *ngIf="newProfFormGroup2.controls['nom_complet'].touched
                && newProfFormGroup2.controls['nom_complet'].errors
                && newProfFormGroup2.controls['nom_complet'].errors!['required']">
            Le nom est obligatoire
          </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Email </label>
      <div class="col-8">
        <input type="email" formControlName="mail" [(ngModel)]="prof.mail" class="form-control" name="email" required="required">
        <span class="text-danger" style="font-family: Aldhabi;font-size: 24px"
              *ngIf="newProfFormGroup2.controls['mail'].touched
                && newProfFormGroup2.controls['mail'].errors
                && newProfFormGroup2.controls['mail'].errors!['required']">
           L'email est obligatoire
          </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Telephone</label>
      <div class="col-8">
        <input type="tel" pattern="[+]{1}[212][0-9]{11}"  [(ngModel)]="prof.tel"  formControlName="tel" class="form-control" name="password" required="required" >
        <span class="text-danger" style="font-family: Aldhabi;font-size: 24px"
              *ngIf="newProfFormGroup2.controls['tel'].touched
                && newProfFormGroup2.controls['tel'].errors
                && newProfFormGroup2.controls['tel'].errors!['required']">
            Le telephone est obligatoire
          </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Adresse</label>
      <div class="col-8">
        <input type="text" formControlName="adresse" [(ngModel)]="prof.adresse"  class="form-control" name="confirm_password" required="required">
        <span class="text-danger" style="font-family: Aldhabi;font-size: 24px"
              *ngIf="newProfFormGroup2.controls['adresse'].touched
                && newProfFormGroup2.controls['adresse'].errors
                && newProfFormGroup2.controls['adresse'].errors!['required']">
            L'adresse est obligatoire
          </span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-4">Nom de département</label>
      <div class="col-8">
        <select  name="nom_departement" [(ngModel)]="prof.nom_departement"  (change)="changeProf($event)" class="form-control" formControlName="nom_departement" required >
          <option  disabled selected value="">Choisir un departement...</option>
          <option *ngFor="let m of depList" [value]="m"  >{{m}}</option>

        </select>
        <span class="text-danger" style="font-family: Aldhabi;font-size: 24px"
              *ngIf="newProfFormGroup2.controls['nom_departement'].touched
                && newProfFormGroup2.controls['nom_departement'].errors
                && newProfFormGroup2.controls['nom_departement'].errors!['required']">
            Le nom de departement
          </span></div>
    </div>


    <div class="form-group row">
      <div class="col-8 offset-4">

        <button  type="submit" [disabled]="!newProfFormGroup2.valid"    class="btn btn-primary btn-lg">Modifier</button>
      </div>
    </div>
  </form>

</div>
</body>
</html>
