<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Statistique
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">



  <!-- CSS Files -->


</head>

<body class="offset-md-2">
<div class="wrapper offset-md-1">

  <div class="main-panel">
    <!-- Navbar -->

    <!-- End Navbar -->
    <div class="content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fa fa-graduation-cap text-warning"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Capacity</p>
                    <p class="card-title">{{lengthEtd}}<p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-graduation-cap"></i>
                Les étudiants
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fa fa-book text-success"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Capacity</p>
                    <p class="card-title">{{lengthModule}}<p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-book"></i>
                Les modules
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fa fa-user-o text-danger"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Capacity</p>
                    <p class="card-title">{{lengthProf}}<p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-user-o"></i>
                Les profs
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-body ">
              <div class="row">
                <div class="col-5 col-md-4">
                  <div class="icon-big text-center icon-warning">
                    <i class="fa fa-calendar text-primary"></i>
                  </div>
                </div>
                <div class="col-7 col-md-8">
                  <div class="numbers">
                    <p class="card-category">Capacity</p>
                    <p class="card-title">{{lengthActivity}}<p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-calendar"></i>
                Les activités
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Capacité de chaque Prof et Étudiant</h5>
              <p class="card-category">Pour chaque fillière</p>
            </div>
            <div class="card-body ">
              <canvas id=line_chart width="400" height="100"></canvas>
            </div>
            <div class="card-footer ">
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> Modifié le {{myDate | date:'yyyy-MM-dd'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card ">
            <div class="card-header ">
              <h5 class="card-title">Les statistiques selon </h5>
              <p class="card-category">Le type d'accès</p>
            </div>
            <br>
            <div class="card-body ">
              <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels" ></apx-chart>
            </div>
            <div class="card-footer ">

              <hr>
              <div class="stats">
                <i class="fa fa-area-chart"></i> le nombre des étudiants
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-title">Statistique des activités</h5>
              <p class="card-category">Selon le mois</p>
            </div>
            <div class="card-body">
              <canvas id="bar_chart" width="350" height="105"></canvas>
            </div>
            <div class="card-footer">

              <hr />
              <div class="card-stats">
                <i class="fa fa-check"></i> Nombre des activités cette année
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
    demo.initChartsPages();
  });
</script>
</body>

</html>
